snippet log
console.log($1)
endsnippet

snippet wait
new Promise((resolve) => setTimeout(resolve, $1))
endsnippet

snippet im
import $1 from '$2'
endsnippet

snippet for
for (const $1 of $2) {
  $3
}
endsnippet

snippet if
if ($1) {
  $2
}
endsnippet

